@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-200 tracking-tight;
  }
  h1 {
    @apply mb-4 font-sans text-2xl font-medium;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  label {
    @apply text-lg font-normal;
  }
  p {
    @apply font-light;
  }
  input,
  select,
  .field {
    @apply rounded-lg bg-primary/10 p-5 font-roboto font-light placeholder:text-primary/50;
  }
  .error-text {
    @apply font-normal text-red-500;
  }
  img {
    display: initial;
  }
}

.header-background {
  background-image: url("./assets/gradient.png");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: 208px 10px;
}

/* manually add active class to the active button */
.active > button {
  background: white;
  /* color: #1c2536; */
  color: #184eb4;
}
